@model MzServiceTicker.ViewModels.HeaderViewModel

<div class="row">
    @Html.Partial("_AppHomeHeader")
    <br />
</div>

<div class="row">
    <br />
    @Html.Partial("_AppHomeMenu")
    @Html.Partial("_AppHomeBreadCrumb")
</div>
