<?xml version="1.0" encoding="utf-8" ?>
<!--                                        -->
<!-- MzServiceTicker.Config 	    -->
<!-- Application Configuration File         -->
<!--                                        -->
<!-- ATTENTION: This file is case sensitive -->
<!--                                        -->
<MzServiceTicker>
    <!-- Database Parameters -->

    <!-- The database type (Oracle, MySql, SqlServer, etc.) -->
    <parameter name="DatabaseType">MySql</parameter>

    <!-- The database name -->
    <parameter name="DatabaseSchema">basitel01</parameter>

    <!-- The username used in databases -->
    <parameter name="DatabaseServer">mysql.basitel.com.br</parameter>

    <!-- The password used in databases -->
    <!-- <parameter name="DatabasePort">1521</parameter> -->

    <!-- The password used in databases -->
    <!-- <parameter name="DatabaseSid">??</parameter> -->

    <!-- The password used in databases -->
    <parameter name="DatabaseUsername">basitel01</parameter>

    <!-- The password used in databases -->
    <parameter name="DatabasePassword">Btel123</parameter>

    <!-- The Debug flag to show debug messages -->
    <parameter name="Debug">On</parameter>

    <!-- The application current language code -->
    <parameter name="LanguageCode">pt-br</parameter>
</MzServiceTicker>
